<h1>Esame Corso {{ nomeCorso }}</h1>

<p class="tempo">Tempo a disposizione <span id="timer" class="timer"></span></p>

<div class="contenitoreEsame" *ngIf="domandaCorrente">
  <div class="domanda no-select">
    <h3 class="no-select">Domanda {{ domandaCorrenteNumero }}</h3>
    <p class="no-select">{{ testoDomandaCorrente }}</p>
    <label class="no-select" *ngFor="let answer of testoRisposte" class="container">
      <input class="no-select" type="radio" name="domanda{{ domandaCorrenteNumero }}" (click)="selectAnswer(answer)">
      {{ answer }}
      <span class="checkmark"></span>
    </label>
  </div>

  <button *ngIf="!ultimaDomanda" id="domandaSuccessiva" (click)="nextQuestion()">Domanda Successiva</button>
  <button *ngIf="ultimaDomanda" id="finisciEsame" (click)="finishExam()">Finisci Esame</button>
</div>

<div *ngIf="!domandaCorrente">
  <p>Caricamento della domanda...</p>
</div>

