<h1>Esame Corso {{ nomeCorso }}</h1>

<p class="tempo">Tempo a disposizione: {{ esameCorso.duration }} minuti</p>

<div class="contenitoreEsame" *ngIf="domandaCorrente">
  <div class="domanda">
    <h3>Domanda {{ domandaCorrenteNumero }}</h3>
    <p>{{ testoDomandaCorrente }}</p>
    <label *ngFor="let answer of testoRisposte" class="container">
      <input type="radio" name="domanda{{ domandaCorrenteNumero }}" (click)="selectAnswer(answer)">
      {{ answer }}
      <span class="checkmark"></span>
    </label>
  </div>

  <button *ngIf="!ultimaDomanda" id="domandaSuccessiva" (click)="nextQuestion()">Domanda Successiva</button>
  <button *ngIf="ultimaDomanda" id="finisciEsame" (click)="finishExam()">Finisci Esame</button>
</div>

<div *ngIf="!domandaCorrente">
  <p>Caricamento della domanda...</p>
</div>
