<h1>Esame Corso XXXXXX</h1>

<div class="contenitoreEsame">
    <div class="domanda">
        <h3>Domanda 1</h3>
        <label class="container">
            <input type="radio" name="domanda1">  Risposta 1
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="radio" name="domanda1">  Risposta 2
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="radio" name="domanda1">  Risposta 3
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="radio" name="domanda1">  Risposta 4
            <span class="checkmark"></span>
        </label>
    </div>
    <div class="domanda">
        <h3>Domanda 2</h3>
        <label class="container">
            <input type="radio" name="domanda2">  Risposta 1
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="radio" name="domanda2">  Risposta 2
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="radio" name="domanda2">  Risposta 3
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="radio" name="domanda2">  Risposta 4
            <span class="checkmark"></span>
        </label>
    </div>
    <div class="domanda">
        <h3>Domanda 3</h3>
        <label class="container">
            <input type="radio" name="domanda3">  Risposta 1
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="radio" name="domanda3">  Risposta 2
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="radio" name="domanda3">  Risposta 3
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="radio" name="domanda3">  Risposta 4
            <span class="checkmark"></span>
        </label>
    </div>
    <div class="domanda">
        <h3>Domanda 4</h3>
        <label class="container">
            <input type="radio" name="domanda4">  Risposta 1
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="radio" name="domanda4">  Risposta 2
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="radio" name="domanda4">  Risposta 3
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="radio" name="domanda4">  Risposta 4
            <span class="checkmark"></span>
        </label>
    </div>
    <div class="domanda">
        <h3>Domanda 5</h3>
        <label class="container">
            <input type="radio" name="domanda5">  Risposta 1
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="radio" name="domanda5">  Risposta 2
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="radio" name="domanda5">  Risposta 3
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="radio" name="domanda5">  Risposta 4
            <span class="checkmark"></span>
        </label>
    </div>
    <div class="domanda">
        <h3>Domanda 6</h3>
        <label class="container">
            <input type="radio" name="domanda6">  Risposta 1
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="radio" name="domanda6">  Risposta 2
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="radio" name="domanda6">  Risposta 3
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="radio" name="domanda6">  Risposta 4
            <span class="checkmark"></span>
        </label>
    </div>
    <div class="domanda">
        <h3>Domanda 7</h3>
        <label class="container">
            <input type="radio" name="domanda7">  Risposta 1
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="radio" name="domanda7">  Risposta 2
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="radio" name="domanda7">  Risposta 3
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="radio" name="domanda7">  Risposta 4
            <span class="checkmark"></span>
        </label>
    </div>

    <button id="verificaRisposte">Verifica Risposte</button>

</div>