.profiloDiv {
    width: 100%;
    margin-top: 65px;
    text-align: center;
    border: 4px solid black;
    background-color: #f0f0f0;
    padding: 10px;
}

.dueDiv {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    position: relative;
}

.leftDiv, .rightDiv {
    border-top: none;
    text-align: center;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    line-height: 20px;
}

.leftDiv {
    width: 20%;
}

.rightDiv {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.fotoProfilo {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 2px solid #333;
}

.divOpzione {
    margin-top: 20px;
}

.divOpzione ul {
    list-style-type: none;
    padding: 0;
}

.divOpzione li {
    margin-bottom: 5px;
}

.divOpzione li a {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
    transition: background-color 0.3s;
}

.divOpzione li a:hover {
    background-color: #e0e0e0;
    color: white;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px; 
}

.form-group {
    flex: 1; 
    margin-right: 10px; 
}

label {
    display: block; 
    margin-bottom: 5px; 
}

.btnDiv {
    text-align: center;
}
.btnDiv button {
    margin: 2px 10px;
}

.app-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
