h1
{
    text-align: center;
    margin-top: 110px; 
}


/*Certificato*/
h2
{
    text-align: center;
    margin: 50px;
}

#contenitoreCertificato
{
    display: flex;
    justify-content: center;
}

#certificato
{
    display: flex;
    flex-direction: column;

    width: 913px;
    height: auto;
    padding: 38px;
    background-image: url("../../../assets/images/Agile Training riquadro certificato.png");
    background-repeat: no-repeat;
    background-size: cover;
}

p
{
    text-align: center;
    font-size: 20px;
}
#dataEsame
{
    margin: 50px;
}

#opzioniCertificato
{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}
#contenitoreLogoFirme
{
    display: flex;
    justify-content: center;
}
.contenitoreImmagine
{
    width: 240px;
    height: auto;
}


.opzione
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    padding: 20px 10px 20px 10px;
}

i
{
    margin-bottom: 10px;
}

#tornaCorso
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

a
{
    text-decoration: none;
    color: white;
}

#tornaCorso:hover
{
    background-color: rgb(68, 68, 68);    
}