<app-header></app-header>

<h1>Corso XXXXXX</h1>

<div id="contenitoreCertificato">
<div id="certificato">
    <h2>Certificato</h2>
    <p>Si certifica che nomeUtente cognomeUtente ha frequentato il corso XXXXXX <br>
        tenuto sul sito di AgileTraining <br>
        completato al x% con il superamento dell'esame finale</p>

    <p id="dataEsame">Data esame:<br>
        xx/xx/xxxx</p>

    <p id="codiceCorso">Codice corso:<br>
        JKJD56878DJDH</p>

    <div id="contenitoreLogoFirme">
    <img src="../../../assets/images/AgileTraining Logo.jpg" class="contenitoreImmagine">
    <img src="../../../assets/images/firma direttore agile training.png" class="contenitoreImmagine">
    <img src="../../../assets/images/firma vice direttore agile training.png" class="contenitoreImmagine">
    </div>

</div>
</div>


<div id="opzioniCertificato">
    <button class="opzione" (click)="downloadPDF()"><i class="fa-solid fa-download fa-2x"></i>Scarica
        Certificato</button>
    <button class="opzione" (click)="stampaPDF()"><i class="fa-solid fa-print fa-2x"></i>Stampa Certificato</button>
</div>

<button id="tornaCorso"><a href="corso">Torna al Corso</a></button>

<app-footer></app-footer>