<div class="container">
  <h2 class="heading">Reimposta Password</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="password-group">
      <label for="vecchiaPass">Vecchia Password</label>
      <div class="input-container">
        <input
          type="password"
          id="vecchiaPass"
          placeholder="Inserisci la vecchia password"
          [(ngModel)]="oldPassword"
          name="oldPassword"
          required
        />
        <span
          class="eye-icon"
          (click)="togglePasswordVisibility('vecchiaPass')"
        >
          <i class="fa fa-eye"></i>
        </span>
      </div>
    </div>
    <div class="password-group">
      <label for="nuovaPass">Nuova Password</label>
      <div class="input-container">
        <input
          type="password"
          id="nuovaPass"
          placeholder="Inserisci la nuova password"
          [(ngModel)]="newPassword"
          name="newPassword"
          required
        />
        <span class="eye-icon" (click)="togglePasswordVisibility('nuovaPass')">
          <i class="fa fa-eye"></i>
        </span>
      </div>
    </div>
    <div class="password-group">
      <label for="nuovaPass1">Reinserisci Nuova Password</label>
      <div class="input-container">
        <input
          type="password"
          id="nuovaPass1"
          placeholder="Reinserisci nuova password"
          [(ngModel)]="newPasswordConfirm"
          name="newPasswordConfirm"
          required
        />
        <span class="eye-icon" (click)="togglePasswordVisibility('nuovaPass1')">
          <i class="fa fa-eye"></i>
        </span>
      </div>
    </div>
    <button class="btnReimposta" type="submit">Reimposta</button>
    <a href=""><button class="btnUtente">Torna al profilo Utente</button></a>
  </form>
</div>
