.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.password-group {
  margin-bottom: 15px;
}

.password-group label {
  display: block;
  margin-bottom: 5px;
}

.input-container {
  position: relative;
}

.input-container input[type="password"], 
.input-container input[type="text"] {
  width: calc(100% - 30px);
  padding: 12px 20px;
  margin-bottom: 5px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
}

.input-container input[type="password"]:focus, 
.input-container input[type="text"]:focus {
  border-bottom: 2px solid #007bff;
}

.eye-icon {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.eye-icon i {
  font-size: 18px;
  color: #aaa;
}

.eye-icon:hover i {
  color: #333;
}

.btnReimposta, .btnUtente {
  width: calc(50% - 5px);
  padding: 10px;
  margin-left: 4px;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  background-color: #ccc;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.btnReimposta:hover, .btnUtente:hover {
  background-color: #007bff;
  color: white;
}

@media (max-width: 600px) {
  .container {
    max-width: 90%;
    padding: 15px;
  }

  .password-group label {
    font-size: 14px;
  }

  .input-container input[type="password"], 
  .input-container input[type="text"] {
    padding: 10px 15px;
  }

  .btnReimposta, .btnUtente {
    width: 100%;
    margin-left: 0;
  }
}

@media (orientation: portrait) and (max-width: 600px) {
  .container {
    max-width: 90%;
    padding: 10px;
    font-size: 20px;
  }

  .password-group label {
    font-size: 25px;
  }

  .input-container input[type="password"], 
  .input-container input[type="text"] {
    padding: 8px 12px;
    font-size: 30px;
  }

  .input-container input[type="password"], 
  .input-container input[type="text"]::placeholder{
    padding: 8px 12px;
    font-size:25px;
  }

  .btnReimposta, .btnUtente {
    width: 100%;
    margin-top: 12px;
    font-size: large;
  }
}
