
<div class="homepage-background">
  <div class="content">
    <div class="greeting">
      <img
        class="user-photo"
        [src]="user?.profileImageUrl || (user?.gender === 'Maschile' 
        ? '../../../assets/images/profile-pic-man.jpg' 
        : '../../../assets/images/profile-pic-woman.png')"
        alt="Foto Profilo"
      /><br />
      <h1 class="benvenuto">Benvenuto, {{ userName }}!</h1>
    </div>
    <div class="actions">
      <a href="/corsi">
        <button class="imparaBtn">Inizia ad imparare</button>
      </a>
    </div>
  </div>
  <div class="company-image">
    <img src="../../../assets/images/e-learn.png" alt="rightImg" />
  </div>

  
</div>

