/* Sfondo della pagina principale */
.homepage-background {
  height: 100vh;
  background: linear-gradient(to bottom right, var(--background-color), rgba(212,155,50,0.5));
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--text-color);
  overflow: hidden;
  position: relative;
}

/* Contenuto centrale della pagina */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%; /* Utilizzato per mantenere il contenuto centrato */
  max-width: 800px; /* Limitazione della larghezza massima per evitare che diventi troppo largo */
  padding: 2%;
  margin-right: 10%;
  background-color: transparent; /* Unico background-color per .content */
}

/* Sezione di saluto */
.greeting {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%; /* Margine adattabile */
}

/* Immagine utente */
.user-photo {
  width: 20%; /* Ridotto per mantenere l'immagine proporzionata */
  height: auto; /* Mantiene il rapporto di aspetto */
  border-radius: 50%; /* Mantiene l'immagine rotonda */
  margin-right: 1%; /* Ridotto il margine a destra */
}

/* Azioni e pulsanti */
.actions {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 5%;
}

.actions button {
  padding: 1% 3%;
  font-size: 1rem;
  cursor: pointer;
  background-color: rgba(212,155,50,1); /* Colore solido per il pulsante */
  color: white;
  border-radius: 15px;
  border: none;
}

/* Immagine dell'azienda */
.company-image {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 30%; /* La larghezza dell'immagine dell'azienda come percentuale della larghezza del contenitore */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  animation: slideIn 2s ease-out;
}

.company-image img {
  max-height: 90%; /* Mantiene l'immagine dentro il contenitore */
  width: auto; /* Mantiene il rapporto di aspetto */
  border:none;
  border-radius: 120px 0 120px 15px;
  animation: zoomIn 2s ease-in-out;
}

/* Animazioni */
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Animazione per la modalità responsive */
@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

/* Responsività */
@media (max-width: 768px) {
  .homepage-background {
    flex-direction: column;
    align-items: center; /* Centrato per visualizzare meglio su dispositivi più piccoli */
  }
  
  .benvenuto {
    font-size: 17px;
    margin-bottom: 5%; /* Margine adattabile */
  }

  .content {
    background-color: transparent;
    width: 90%; /* Aumenta la larghezza per piccoli schermi */
    padding: 5%;
  }
  
  .company-image {
    width: 100%; /* La larghezza dell'immagine dell'azienda al 100% della larghezza del contenitore */
    height: auto; /* Mantiene l'altezza automatica */
    position: static; /* Rimuove la posizione assoluta per i piccoli schermi */
    margin-top: 20px;
    animation: slideUp 2s ease-out; /* Applica la nuova animazione slideUp */
  }

  .company-image img {
    width: 100%; /* L'immagine occupa il 100% della larghezza del contenitore */
    height: auto; /* Mantiene l'altezza automatica */
    border-radius: 15px; /* Adatta il bordo per schermi più piccoli */
  }

  .user-photo {
    width: 15%; /* Dimensione più grande su schermi piccoli, ma non troppo grande */
  }

  .imparaBtn {
    width: 108%;
    padding: 5px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .content {
    width: 60%;
    margin-right: 37%;
    margin-bottom: 70%;
    background-color: transparent;
  }

  .company-image {
    position: absolute;
    right: 0px;
    top: 0;
    height: 150%;
    width: 72%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    animation: slideUp 2s ease-out; /* Applica l'animazione slideUp per la modalità desktop */
  }

  .user-photo {
    width: 12%; /* Dimensione intermedia per schermi di dimensioni medie */
    height: auto; /* Mantiene il rapporto di aspetto */
    border-radius: 50%;
    margin-right: 1%; /* Ridotto il margine a destra */
    position: absolute;
    bottom: 79%;
  }
}

/* Nuova animazione per la foto del profilo */
@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Applica l'animazione alla foto del profilo */
.user-photo {
  width: 20%; /* Ridotto per mantenere l'immagine proporzionata */
  height: auto; /* Mantiene il rapporto di aspetto */
  border-radius: 50%; /* Mantiene l'immagine rotonda */
  margin-right: 1%; /* Ridotto il margine a destra */
  animation: slideInFromLeft 1s ease-out; /* Aggiungi l'animazione */
}

