<app-header></app-header>

    <h1>Benvenuto {{ usernameUtente  }}</h1>

    <h3>Corsi a cui sei iscritto</h3>
    <div id="corsiIscritti">
        <div *ngFor="let coursesSubscription of coursesSubscription" [attr.data-course-id]="coursesSubscription[0]" (click)="saveCourseId($event, coursesSubscription[0])">
            <a href="corso">
                <img [src]="'../../../assets/images/' + coursesSubscription[3]" [alt]="coursesSubscription[4]" >
            </a>
        </div>
    </div>

    <h3>Corsi a cui potresti essere interessato</h3>
    <div id="corsiInteressanti">
        <div *ngFor="let coursesMore of coursesMore" [attr.data-course-id]="coursesMore[0]" (click)="saveCourseId($event, coursesMore[0])">
            <a href="anteprimaCorso">
                <img [src]="'../../../assets/images/' + coursesMore[3]" [alt]="coursesMore[4]" >
            </a>
        </div>
    </div>

<app-footer></app-footer>