<app-header></app-header>
<div class="homepage-background">
  <div class="content">
    <div class="greeting">
      <img
        src="../../../assets/images/profile-pic.jpg"
        alt="User Photo"
        class="user-photo"
      /><br />
      <h1 class="benvenuto">Benvenuto, {{ userName }}!</h1>
    </div>
    <div class="actions">
      <a href="/corsi">
        <button class="imparaBtn">Inizia ad imparare</button>
      </a>
    </div>
  </div>
  <div class="company-image">
    <img src="../../../assets/images/e-learn.png" alt="rightImg" />
  </div>
</div>
<app-footer></app-footer>
