<div class="navbar">
    <li><a href="/home">Logo(Home)</a></li>
    <li><a href="/">I nostri corsi</a></li>
    <li><a href="">Chi siamo</a></li>
    <li><input type="text" placeholder="Search.."></li>
    <li>
        <div class="dropdown">
        <button class="dropbtn">Lingua 
            <i class="fa fa-caret-down"></i>
          </button>
        <div class="dropdown-content">
            <a href="#">Italiano</a>
            <a href="#">Inglese</a>
        </div>
    </div>
    </li>
    <li><a href="">Profilo Utente</a></li>
</div>