.navbar
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 10px;
    background-color: #333;
    z-index: 3;
}
.navbar-item
{
  display: block;
}
ul
{
  display: flex;
  margin: 0px;
  padding: 0px;
}
  
input
{
  padding: 10px;

}

.navbar a 
{
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}

.navbar li
{
  margin-left: 30px;
  margin-right: 30px;
  list-style-type: none; /*Toglie i puntini dalla lista*/
}

.dropdown 
{
  float: left;
  overflow: hidden;
}
  
.dropdown .dropbtn 
{
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  position: relative;
}

.navbar a:hover, .dropdown:hover .dropbtn 
{
  background-color: rgb(169, 169, 169);
}
  
.dropdown-content 
{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  position: relative;
}

.dropdown-content a 
{
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
  
.dropdown-content a:hover 
{
  background-color: #ddd;
}

.dropdown:hover .dropdown-content 
{
  display: block;
}


.chiudi
{
  display: none;
}
.hamburger 
{
  display: none;
  position: fixed;
  cursor: pointer;

  padding: 7px 10px 7px 10px;
  border: white solid 2px;
  border-radius: 7px;

  margin-right: 40px;
  margin-left: 40px;
  z-index: 10;
  left: 0px;
  top: 10px;
}
.bar 
{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}

.navbarSopra
{
  display: none;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #333;
}



/*Media Query*/
@media screen and (max-width: 1150px) /*al di sotto dei 1150 pixel*/
{
  .navbar li
  {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 1050px) /*al di sotto dei 1050 pixel*/
{
  .navbar li
  {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 900px) /*al di sotto dei 900 pixel*/
{
  .navbar li
  {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media  (max-width: 800px) /*al di sotto dei 800 pixel*/
{
  .navbarSopra
  {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;   

    background-color: #333;
    height: 66.4px;
    z-index: 1;
  }
  .navbar-item
  {
    display: none;
  }
  li.navbar-item.active
  {
    display: block;
    margin-left: 50px;
  }
  .logoNavbar
  {
    display: none;
  }

  .logo{
    position: absolute;
    top: 0px;
    right: 25px;
   }

  .hamburger 
  {
    display: block;
  }
  .navbar
  {
    display: none;
  }
  .navbar.active
  {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row-reverse;    
    height: 100%;
    width: 70%;
    z-index: 2;
    animation: slideInFromLeft 0.5s ease-out;
  }
  ul
  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }
  .logo
  {
    color: white;
    text-decoration: none;
    padding: 12px 16px;

    margin-right: 40px;
    margin-left: 40px;
  }
  .logo:hover
  {
    background-color: rgb(169, 169, 169);
  }
  .stratoSemiTrasparente
  {
    display: none;
  }
  .stratoSemiTrasparente.active
  {
    display: block;
    background: rgba(85, 74, 74, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 0;
    animation: fadeIn 0.5s linear;
  }
  .chiudi
  {
    display: none;
  }
  .chiudi.active
  {
    display: block;
    margin: 20px;
    cursor: pointer;
  }
  input.active
  {
    margin-bottom: 50px;
    width: 300px;
  }
  .dropdown.active
  {
    margin-top: 200px;
  }


  @keyframes slideInFromLeft 
  {
    0% {transform: translateX(-100%);opacity: 0;}
    100% {transform: translateX(0);opacity: 1;}
  }
  @keyframes slideOutToLeft 
  {
    0% {transform: translateX(0);opacity: 1;}
    100% {transform: translateX(-100%);opacity: 0;}
  }

  @keyframes fadeIn 
  {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  @keyframes fadeOut 
  {
    0% {opacity: 1;}
    100% {opacity: 0;}
  }
}