<div class="container">
    <h2 class="heading">Reimposta Username</h2>
    <br />
    <form action="">
      <div class="usernameDiv">
        <label>Nuovo Username</label><br />
        <input type="text" id="userInp"  /><br>
        
      </div>
      
      <div class="passDiv">
        <label>Password</label><br />
        <input type="password" id="passInp" /><br>
        <input  type="checkbox" (click)="passFun()"  />vedi password
      </div>
      <br />
    </form>
    <a href="/avvisoUsernameSuccess"><button class="btnUtente">Reimposta</button></a><br>
    
    
   <a href="/datiAnagrafici"><button class="btnUtente1">Torna al profilo Utente</button></a> 
  </div>
  
  