.profiloDiv {
    width: 100%;
    
    text-align: center;
    border: 4px solid black;
    background-color: #f0f0f0;
    padding: 10px;
}

.dueDiv {
    display: flex;
    justify-content: space-between;
   
    position: relative;
}

.leftDiv, .rightDiv {
    border-top: none;
    text-align: center;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    line-height: 20px;
}

.leftDiv {
    width: 20%;
}

.rightDiv {
    width: 80%;
}

.fotoProfilo {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 2px solid #333;
}

.divOpzione {
    margin-top: 20px;
}

.divOpzione ul {
    list-style-type: none;
    padding: 0;
}

.divOpzione li {
    margin-bottom: 5px;
}

.divOpzione li a {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
    transition: background-color 0.3s;
}

.divOpzione li a:hover {
    background-color: #e0e0e0;
    color: white;
}

.zonaCertificatiDiv{
    position: relative;
    width: 100%;
    height: 200px;
    margin-top: 40px;
    
}

.corso {
    
    position: absolute;
    width: calc(50% - 40px); 
    height: calc(50% - 40px); 
    text-align: center;
    
  }

.corso1{
top: 0;
left: 0;

} 

.corso1 p{
    border: 2px solid black;
    padding:25px;
}

.corso2{
    top: 0;
    right: 0

}

.corso2 p{
    border: 2px solid black;
    padding:25px;
}
.corso3{
   bottom: 0;
   left: 0;
   
}

.corso3 p{
    border: 2px solid black;
    padding:25px;
}
.corso4{
    bottom:0;
    right: 0;
}

.corso4 p{
    border: 2px solid black;
    padding:25px;
}


