<div>
    <h2>Carica Foto Profilo</h2>
    
    <!-- Selettore di file -->
    <input type="file" (change)="onFileChange($event)" />
    
    <!-- Pulsante per caricare l'immagine -->
    <button (click)="uploadImage()" [disabled]="!selectedFile">Carica Immagine</button>
  
    <!-- Anteprima dell'immagine selezionata -->
    <div *ngIf="previewUrl">
      <h3>Anteprima dell'immagine:</h3>
      <img [src]="previewUrl" alt="Anteprima Immagine" style="width: 150px; height: 150px;"/>
    </div>
    
    <!-- Immagine del profilo esistente -->
    <div *ngIf="profileImageUrl">
      <h3>Foto Profilo:</h3>
      <img [src]="profileImageUrl" alt="Profile Picture" style="width: 150px; height: 150px;"/>
    </div>
  </div>
  