<div class="profiloDiv">
  <h1>Profilo Utente</h1>
</div>

<div class="dueDiv">
  <div class="leftDiv">
    <div class="fotoDiv">
      <div *ngIf="profileImageUrl">
        <h3>
          {{ user?.name || "Nome non disponibile" }}
          {{ user?.surname || "Cognome non disponibile" }}
        </h3>
        <img
          class="fotoProfilo"
          [src]="user?.profileImageUrl || (user?.gender === 'Maschile' 
          ? '../../../assets/images/profile-pic-man.jpg' 
          : '../../../assets/images/profile-pic-woman.png')"
          alt="Foto Profilo"
        />
      </div>
    </div>
    <div class="divOpzione">
      <ul>
        <li><a href="/datiAnagrafici">Dati Anagrafici</a></li>
        <li><a href="/datiUtente" id="datiUtenteLink">Dati Utente</a></li>
        <li><a href="/corsiIscritti">Corsi Iscritti</a></li>
        <li><a href="/certificati">Certificati</a></li>
        <li><a href="/fotoProfilo">Foto Profilo</a></li>
        <li><a href="/cancellaAccount">Cancella Account</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul> 
    </div>
  </div>

  <div class="rightDiv">
    <div>
      <h2 class="caricaFoto">Carica Foto Profilo</h2>
      <input type="file" (change)="onFileChange($event)" />
      <button (click)="uploadImage()" [disabled]="!selectedFile">
        Carica Immagine
      </button>

      <div *ngIf="isLoading" class="loader">
        <div class="spinner"></div>
      </div>

      <div *ngIf="previewUrl">
        <h3>Anteprima dell'immagine:</h3>
        <img [src]="previewUrl" alt="Anteprima Immagine" />
      </div>
    </div>
  </div>
</div>
