<div class="container">
    <h2 class="heading">Cancellazione Account</h2>
    <br />
    <form action="">
      <div class="usernameDiv">
        <label>Username</label><br />
        <input type="text" id="userInp"  /><br>
        
      </div>
      <div class="emailDiv">
        <label>Email</label><br />
        <input type="email" id="emailInp"  /><br>
        
      </div>
      <div class="passDiv">
        <label>Password</label><br />
        <input type="password" id="passInp" /><br>
        <input  type="checkbox" (click)="passFun()"  />vedi password
      </div>
      <br />
    </form>
    <a href="/avvisocancellazione"><button class="btnElimina">Elimina Account</button></a>
    
    <p style="font-size: 12px;color: red;">Stai per cancellare il tuo account. Confermi? Perderai l'accesso a tutti i corsi disponibili.</p>
   <a href="/datiAnagrafici"><button class="btnUtente">Torna al profilo Utente</button></a> 
  </div>
  
  