<div class="container">
    <h2 class="heading">Cancellazione Account</h2>
    <br />
    <form action="">
      <div class="usernameDiv">
        <label>Username</label><br />
        <input type="text" id="userInp"  /><br>
        
      </div>
      <div class="emailDiv">
        <label>Email</label><br />
        <input type="email" id="emailInp"  /><br>
        
      </div>
      <div class="passDiv">
        <label>Password</label><br />
        <input type="password" id="passInp" /><br>
        <input  type="checkbox" (click)="passFun()"  />vedi password
      </div>
      <br />
    </form>
    <button class="btnElimina">Elimina Account</button><br />
    <button class="btnUtente">Torna al profilo Utente</button>
  </div>
  
  