/* Stile generale per il footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(212, 155, 50, 1); /* Opacità corretta */
  padding: 10px; /* Ridotto per un aspetto più sottile */
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  border-top: none; /* Rimosso il bordo superiore */
}

/* Stile per i link nel footer */
footer a {
  color: white;
  text-decoration: none;
  margin: 0 10px; /* Ridotto per maggiore compattezza */
  font-size: 15px; /* Leggermente più piccolo per un look più elegante */
  transition: color 0.3s; /* Rimosso il bordo sottostante durante l'hover */
}

/* Effetto hover per i link */
footer a:hover {
  color: #ddd;
  /* Rimosso il bordo sottostante durante l'hover */
}

/* Stile per il logo */
footer .logoA img {
  height: 30px; /* Altezza del logo più sottile */
  width: auto;
  margin-right: 15px; /* Spazio ridotto tra il logo e i link */
}

/* Layout per rendere il footer responsive */
@media screen and (max-width: 600px) {
  footer {
    flex-direction: column;
    padding: 86px 0%;
    padding-top: 2%;
  }

  footer a {
    margin: 5px 0; /* Margine verticale ridotto per i link sui dispositivi mobili */
    font-size: 14px; /* Font size più piccolo per dispositivi mobili */
  }

  footer .logoA {
    margin-bottom: 10px; /* Spazio tra il logo e i link sui dispositivi mobili */
  }
}
