
.container {
  text-align: center;
  line-height: 20px;
  margin: 0 auto;
}

.intro {
  margin-bottom: 40px;
}

.loremP {
  border: solid black 2px;
  margin-bottom: 60px;
}

.userInp, .passInp {
  border: none;
  border-bottom: 2px solid black;
  margin: 20px;
  width: 80%;
  font-size: 18px;
  padding: 5px;
  text-align: center;
  outline: none;
  box-shadow: none;
}

.btnLogin {
  border: none;
  padding: 4px 70px;
}

.btnLogin:hover {
  color: white;
  background-color: #2d9bf0;
}

.passIcon {
  display: none;
}

.userIcon {
  display: none;
}

@media (orientation: portrait) {
  .loremP {
    font-size: 20px;
  }

  .container {
    text-align: center;
    line-height: 20px;
    margin: 0 auto;
  }

  .intro {
    margin-bottom: 40px;
  }

  .Login {
    font-size: 40px;
  }

  .inpBox {
    margin: 20px;
    font-size: 25px;
    text-align: center;
  }

  .inpBox label {
    position: absolute;
  }

  .userInp, .passInp {
    border: none;
    border-bottom: 2px solid black;
    margin: 20px;
    width: 90%;
    font-size: 30px;
    padding: 5px;
    text-align: center;
    outline: none;
    box-shadow: none;
  }

  .btnLogin {
    border: none;
    padding: 4px 70px;
    border-radius: 50px;
    font-size: 30px;
  }

  .btnLogin:hover {
    color: white;
    background-color: #2d9bf0;
  }

  .lblUser {
    display: none;
  }

  .lblPass {
    display: none;
  }

  .passIcon {
    display: block;
  }

  .userIcon {
    display: block;
  }
}

@media (orientation: landscape) {
  .container {
    text-align: center;
    line-height: 15px;
    margin: 0 auto;
    width: 100%;
  }

  .intro {
    margin-bottom: 4px;
    font-size:18px;
    font-weight: bold;
  }

  .loremP {
    font-size: 14px;
    margin-bottom: 30px;
  }

  .Login {
    font-size: 20px;
    font-weight: bold;

  }

  .inpBox {
    margin: 4px;
    font-size: 24px;
    text-align: center;
  }

  .userInp, .passInp {
    border: none;
    border-bottom: 2px solid black;
    margin: 10px;
    width: 70%;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    outline: none;
    box-shadow: none;
  }

  .btnLogin {
    border: none;
    padding: 4px 50px;
    border-radius: 25px;
    font-size: 24px;
  }

  .btnLogin:hover {
    color: white;
    background-color: #2d9bf0;
  }

  .lblUser {
    display: none;
  }

  .lblPass {
    display: none;
  }

  .passIcon {
    display: block;
    
  }

  .userIcon {
    display: block;
  }
}
