<div class="container">
    <h1 class="intro">Introduzione al sito </h1>
    <div class="loremP">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus cupiditate hic delectus similique sapiente expedita architecto, amet nesciunt porro quisquam ad quaerat quibusdam neque eos ipsum quo earum nam maxime. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam, odio recusandae asperiores aliquam sequi eaque assumenda molestiae doloribus libero. Quod quos maiores officia beatae, assumenda modi voluptatem autem sit odit.</p>
    </div>
    
    <div class="Login">
        <h4>Login</h4>
    <label for="">Username</label><br>
    <input class="userInp" type="text" placeholder="inserisci il nome utente"><br>
    <label>Password</label><br>
    <input type="password" class="passInp" placeholder="inserisci la Password"><br>
    <button class="btnLogin">Login</button>

    </div>
   
</div>
