<app-header></app-header>

<h1>Anteprima Corso XXXXXX</h1>

<div id="contenitore">

<h3>Descrizione del Corso</h3>

<div id="descrizioneCorso">Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
    Architecto nisi dolor temporibus obcaecati sint nihil vitae aut ratione minus alias doloribus, 
    debitis in ex. Natus exercitationem facere consequatur? Facilis, quidem.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
    Architecto nisi dolor temporibus obcaecati sint nihil vitae aut ratione minus alias doloribus, 
    debitis in ex. Natus exercitationem facere consequatur? Facilis, quidem.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
    Architecto nisi dolor temporibus obcaecati sint nihil vitae aut ratione minus alias doloribus, 
    debitis in ex. Natus exercitationem facere consequatur? Facilis, quidem.
</div>

<h3>Capitoli del Corso</h3>

<button class="accordion">Capitolo 1   <i class="fa-solid fa-angle-down"></i></button>
<div class="panel">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p><i class="fa-regular fa-circle-play"></i>   Video Capitolo 1</p>
</div>

<button class="accordion">Capitolo 2   <i class="fa-solid fa-angle-down"></i></button>
<div class="panel">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p><i class="fa-regular fa-circle-play"></i>   Video Capitolo 2</p>
</div>

<button class="accordion">Capitolo 3   <i class="fa-solid fa-angle-down"></i></button>
<div class="panel">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p><i class="fa-regular fa-circle-play"></i>   Video Capitolo 3</p>
</div>

<button class="accordion">Capitolo 4   <i class="fa-solid fa-angle-down"></i></button>
<div class="panel">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p><i class="fa-regular fa-circle-play"></i>   Video Capitolo 4</p>
</div>

<button class="accordion">Capitolo 5   <i class="fa-solid fa-angle-down"></i></button>
<div class="panel">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p><i class="fa-regular fa-circle-play"></i>   Video Capitolo 5</p>
</div>

<button class="accordion">Capitolo 6   <i class="fa-solid fa-angle-down"></i></button>
<div class="panel">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p><i class="fa-regular fa-circle-play"></i>   Video Capitolo 6</p>
</div>

<button class="accordion">Capitolo 7   <i class="fa-solid fa-angle-down"></i></button>
<div class="panel">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p><i class="fa-regular fa-circle-play"></i>   Video Capitolo 7</p>
</div>

<button class="accordion">Esame finale   <i class="fa-solid fa-angle-down"></i></button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<p id="durataVideo">Durata totale video: x ore e x minuti</p>

<a href="avvisoIscrizione"><button id="iscriviti">Iscriviti al Corso XXXXXX</button></a>

</div>

<app-footer></app-footer>