<app-header></app-header>

<h1>Anteprima Corso {{ nomeCorso }}</h1>

<div id="contenitore"> 

<h3>Descrizione</h3>

<div id="descrizioneCorso">{{ descrizioneCorso }}</div>

<h3>Capitoli del Corso</h3>

<button class="accordion" *ngFor="let CapitoliCorso of CapitoliCorso" (click)="toggleAccordion($event)"><i class="fa-solid fa-angle-down"></i>    {{ CapitoliCorso.moduleName }}</button>
<div class="panel" *ngFor="let CapitoliCorso of CapitoliCorso">
    <p>{{ CapitoliCorso.moduleDescription }}</p>
    <p><i class="fa-regular fa-circle-play"></i>   Video {{ CapitoliCorso.moduleName }}</p>
</div>

<button class="accordion"><i class="fa-solid fa-angle-down" (click)="toggleAccordion($event)"></i><span>    Esame finale</span></button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<p id="durataVideo">Durata totale video: x ore e x minuti</p>

<a href="avvisoIscrizione"><button id="iscriviti">Iscriviti al Corso XXXXXX</button></a>

</div>

<app-footer></app-footer>