h1
{
    text-align: center;
    margin-top: 110px; 
}

#contenitore
{
    padding: 10px 100px 40px 100px;
}

h3
{
    margin: 40px 0px 40px 0px;
}
#descrizioneCorso
{
    text-align: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*Accordion*/
.accordion 
{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordion:hover
{
    background-color: #ccc;
}

.accordion.active:hover 
{
    background-color: #ccc;
}

.panel 
{
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

p
{
    margin: 10px;
}

#iscriviti
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

#durataVideo
{
    text-align: center;
    margin: 20px;
}