h1
{
    text-align: center;
    margin-top: 110px; 
}

/*Dropdown*/
.dropdown 
{
  float: right;
  /* position: relative;
  right: 0px; */
  margin: 0px 200px 0px 200px;
  overflow: hidden;
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 245px;
}
.dropdown .dropbtn 
{
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  width: 245px;
}
.dropdown:hover .dropbtn 
{
  background-color: rgb(169, 169, 169);
}
.dropdown-content 
{
  display: none;
  /* position: absolute; */
  background-color: #f9f9f9;
  min-width: 245px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a 
{
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover 
{
  background-color: #ddd;
}
.dropdown:hover .dropdown-content 
{
  display: block;
}



#contenitore
{
    padding: 10px 100px 100px 100px;
}

h3
{
    margin: 40px 0px 40px 0px;
}

/*Accordion*/
.accordion 
{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    user-select: none;
}
.accordion.disabled
{
    background-color: #888888;
    color: #000000;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    pointer-events: none;
    opacity: 0.5;
    user-select: none;
}

.accordion:hover
{
    background-color: #ccc;
}

.accordion.active:hover 
{
    background-color: #ccc;
}

.panel 
{
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/*icona che gira*/
i
{
    transition: 0.2s all;
}

.rotated 
{
    transform: rotate(180deg);
    transition: 0.2s all;
}



#paginaEsame
{
    display: flex;
    justify-content: center;
}





/* video-player.component.css */

#playPauseButton {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#playPauseButton:hover {
  background-color: #0056b3;
}

/* Contenitore del video */
.video-container {
  position: relative;
  background-color: #000;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  max-width: 800px; /* Imposta una larghezza massima per il video */
  margin: 20px auto;
}

/* Pulsanti di controllo */
.video-container button {
  position: relative;  
  background-color: #333;
  border: none;
  color: #fff;
  border-radius: 5px;
  padding: 8px 12px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  /* Aggiunta per dimensioni fisse */
  width: 40px; /* Regola la larghezza come necessario */
  height: 40px; /* Regola l'altezza come necessario */
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-container button i {
  font-size: 16px; /* Regola la dimensione dell'icona */
}

/* Pulsante Play/Pause */
#playPauseButton {
  background-color: #4caf50;
}

#playPauseButton:hover {
  background-color: #45a049;
}


.video-container button:hover {
  background-color: #555;
  transform: scale(1.05);
}

/* Pulsante Play/Pause */
#playPauseButton {
  background-color: #4caf50;
}

#playPauseButton:hover {
  background-color: #45a049;
}

/* Pulsante Volume */
#volumeButton {
  background-color: #2196f3;
}

#volumeButton:hover {
  background-color: #1976d2;
}

/* Pulsante Mute */
#muteButton {
  background-color: #f44336;
}

#muteButton:hover {
  background-color: #e53935;
}


.volume-slider 
{
  transform: translateX(-45%) translateY(-25px);
  rotate: 270deg;
  width: 100px;
  height: 10px;
  background: #2196f3;
  cursor: pointer;
}

div.volume-container .volume-slider-container
{
  position: absolute;
  left: 0%;
  bottom: 90%;
  width: 50px;
  height: 115px;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

div.volume-container:hover .volume-slider-container
{
  opacity: 1;
  visibility: visible;  
}

/* Barra di progresso */
.progress-container 
{
  display: flex;
  align-items: center;
  width: 80%;
  margin-top: 10px;
}

.progress-container input[type="range"] 
{
  flex: 1;
  /* -webkit-appearance: none; */
  background: #555;
  height: 5px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.progress-container input[type="range"]::-webkit-slider-thumb 
{
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.progress-container input[type="range"]::-moz-range-thumb 
{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.progress-container span 
{
  color: #fff;
  margin: 0 5px;
}

/* Stili per la durata e il tempo corrente */
span#currentTime, span#totalTime 
{
  font-size: 14px;
}

.controls {
  flex-direction: row;
  border-radius: 8px;
  bottom: 0;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5); 
  color: white;
  z-index: 1; 
  transition: opacity 0.3s; 
  opacity: 0;
  transition: opacity 0.5s ease;
}

.controls.fullscreen
{
  position: fixed;
  bottom: 10px; 
  left: 0;
  right: 0;
  bottom:0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 10px;
  background: rgba(0, 0, 0, 0.5); 
  color: white;
  z-index: 1002;
  transition: opacity 0.3s; 
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none; /* Disabilita l'interazione con i controlli nascosti */
}

iframe.fullscreen
{
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
}

iframe
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}


.volume-container 
{
  position: relative;
  display: inline-block;
}

.video-container:hover .controls 
{
  opacity: 1;
  pointer-events: auto; /* Abilita l'interazione con i controlli quando visibili */
}

@media screen and (max-width: 500px)/*sotto i 500 pixel*/
{
  #contenitore
  {
    padding: 10px 10px 130px 10px;
  }
  .dropdown
  {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 500px ) and (max-width: 1024px)/*sopra i 500 pixel e sotto i 1024px*/
{
  #contenitore
  {
    padding: 10px 10px 130px 10px;
  }
  .dropdown
  {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}