<app-header></app-header>

<h1>Corso {{ nomeCorso }}</h1>

<div class="dropdown">
    <button class="dropbtn">Opzioni Corso
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a *ngIf="certificatoEsiste" href="certificatoCorso">Vedi Certificato</a>    
        <a href="avvisoSceltaAnnulaIscrizione">Annulla l'iscrizione al corso</a>
    </div>
</div>

<div id="contenitore">

    <h3>Capitoli del Corso</h3>

    <ng-container *ngFor="let capitolo of capitoliCorso">
        <button class="accordion" (click)="toggleAccordion($event)">
          <i class="fa-solid fa-angle-down"></i> {{ capitolo.moduleName }}
        </button>
        <div class="panel">
          <p>{{ capitolo.moduleDescription }}</p>
          <div class="video-container">
            <!--<iframe src="https://player.vimeo.com/video/992155478?h=369ce54f1a" width="640" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>-->
        </div>
        </div>
      </ng-container>

    <button class="accordion" (click)="toggleAccordion($event)"><i class="fa-solid fa-angle-down"></i>   Esame finale</button>
    <div class="panel">
      <p id="paginaEsame"><a href="#" (click)="openExamPage($event)">Vai alla pagina dell'esame</a></p>
    </div>

</div>

<app-footer></app-footer>