<h1>Corso {{ nomeCorso }}</h1>

<div class="dropdown">
  <button class="dropbtn">Opzioni Corso
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-content">
    <a *ngIf="certificatoEsiste" href="certificatoCorso">Vedi Certificato</a>
    <a href="avvisoSceltaAnnulaIscrizione">Annulla l'iscrizione al corso</a>
  </div>
</div>

<div id="contenitore">

  <h3>Capitoli del Corso</h3>

  <ng-container *ngFor="let capitolo of capitoliCorso; let i = index">
    <button class="accordion" (click)="verifyAccordion($event, i)" [ngClass]="{'disabled': i >= capitoliCompletati}">
      <i class="fa-solid fa-angle-down"></i> {{ capitolo.moduleName }}
    </button>
    <div class="panel">
      <p>{{ capitolo.moduleDescription }}</p>
      <ng-container *ngIf="esistenzaVideo[i] == true; else noVideo">
        <div #videoContainer class="video-container">
          <div style="padding:56.25% 0 0 0;position:relative;">
            <iframe #vimeoPlayer [src]="urlVideo[i]" frameborder="0"
              allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="Video Prova">
            </iframe>
          </div>
          <div #controlVideo class="controls">
            <button #playPauseButton (click)="togglePlayPause(i)">
              <i class="fas fa-play" *ngIf="!isPlaying[i]"></i>
              <i class="fas fa-pause" *ngIf="isPlaying[i]"></i>
            </button>
            <div class="volume-container">
              <button #volumeButton (click)="toggleMute(i)" (mouseenter)="showVolumeSlider(i)" (mouseleave)="hideVolumeSlider(i)">
                <i class="fas" [ngClass]="isMuted[i] ? 'fa-volume-mute' : 'fa-volume-up'"></i>
            </button>
              <div class="volume-slider-container">
                <input #volumeBar type="range" min="0" max="100" step="1" value="100" class="volume-slider" (input)="setVolume($event, i)">                
              </div>
            </div>            
            <div class="progress-container">
              <input #progressBar type="range" min="0" class="progress-bar" value="0" (input)="seekVideo($event, i)" />
              <span #currentTime>00:00</span> / <span #totalTime>00:00</span>
            </div>
            <button #fullscreenButton (click)="toggleFullscreen(i)">
              <i class="fas" [ngClass]="isFullscreen[i] ? 'fa-compress' : 'fa-expand'"></i>
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>

  <!-- Template alternativo se non c'è il video -->
  <ng-template #noVideo>
    <p>Video non disponibile</p>
  </ng-template>

  <button class="accordion" (click)="verifyAccordion($event, capitoliCorso.length)" [ngClass]="{'disabled': capitoliCompletati - 1 < capitoliCorso.length}">
    <i class="fa-solid fa-angle-down"></i> Esame finale
  </button>
  <div class="panel">
    <p id="paginaEsame"><a href="#" (click)="openExamPage($event)">Vai alla pagina dell'esame</a></p>
  </div>

</div>