<app-header></app-header>
<div class="profiloDiv">
  <h1>Profilo Utente</h1>
</div>
<div class="dueDiv">
  <div class="leftDiv">
    <div class="fotoDiv">
      <img
        class="fotoProfilo"
        src="../../../assets/images/profile-pic.jpg"
        alt="Foto Profilo"
      />
      <h3>Mario Rossi</h3>
    </div>
    <div class="divOpzione">
      <ul>
        <li><a href="/datiAnagrafici">Dati Anagrafici</a></li>
        <li><a href="#" id="datiUtenteLink">Dati Utente</a></li>
        <li><a href="#">Corsi Iscritti</a></li>
        <li><a href="#">Certificati</a></li>
        <li><a href="#">Profilo</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </div>
  </div>
  <div class="rightDiv">
    <div class="cancBtn">
      <a href="/avvisoLogout"
        ><button class="btnl">Clicca qui per effettuare logout</button></a
      >
    </div>
  </div>
</div>
<app-footer></app-footer>
