.profiloDiv {
   
 
}

.dueDiv {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    position: relative;
}

.leftDiv, .rightDiv {
    border-top: none;
    text-align: center;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    line-height: 20px;
}

.leftDiv {
    width: 20%;
}

.rightDiv {
    width: 80%;
}

.fotoProfilo {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 2px solid #333;
}

.divOpzione {
    margin-top: 20px;
}

.divOpzione ul {
    list-style-type: none;
    padding: 0;
}

.divOpzione li {
    margin-bottom: 5px;
}

.divOpzione li a {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
    transition: background-color 0.3s;
}

.divOpzione li a:hover {
    background-color: #e0e0e0;
    color: white;
}

