<app-header></app-header>

    <h1>Tutti i corsi</h1>

    <div id="corsi">
        <div><img src="../../../assets/images/sta-je-html.jpg" alt=""></div>
        <div><img src="../../../assets/images/sta-je-css.png" alt=""></div>
        <div><img src="../../../assets/images/javascript.jpg" alt=""></div>
        <div>Corso 4</div>
        <div>Corso 5</div>
        <div>Corso 6</div>
        <div>Corso 7</div>
        <div>Corso 8</div>
        <div>Corso 9</div>
        <div>Corso 10</div>
        <div>Corso 11</div>
        <div>Corso 12</div>
        <div>Corso 13</div>
        <div>Corso 14</div>
        <div>Corso 15</div>
        <div>Corso 16</div>
        <div>Corso 17</div>
        <div>Corso 18</div>
        <div class="corso">Corso 19</div>
        <div class="corso">Corso 20</div>
        <div class="corso">Corso 21</div>
        <div class="corso">Corso 22</div>
        <div class="corso">Corso 23</div>
        <div class="corso">Corso 24</div>
    </div>

    <button id="MostraAltro" class="buttonVedi">Mostra Altro</button>

<app-footer></app-footer>