h1
{
    text-align: center;
    margin-top: 70px;
}

h2
{
    margin: 5px 0px 5px 0px;
    text-align: center;
}

.TornaIndietro
{
    margin-left: 100px;
    padding: 10px;
    cursor: pointer;

    display: none;
}

#contenitoreCategorie
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.categoria
{
    margin: 10px;
    height: auto;
    width: 460px;
    border: solid black 5px;
    border-radius: 20px;
    margin-bottom: 100px;
}

.contenitoriCorsi
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.VediCorsi
{
    margin-right: 10px;
    margin-bottom: 10px;
}

#corsiFrontEnd
{
    display: none;
}
#corsiBackEnd
{
    display: none;
}
#corsiDatabase
{
    display: none;
}

.corsi
{
    display: flex;
    align-items: center;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.corsi div
{
    height: 130px;
    width: 190px;
    margin: 10px;
    font-size: 20px;
    border: solid 4px black;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

img
{
    width: 100%;
    height: 100%; 
}

a
{
    height: 100%;
    width: 100%;
}


@media screen and (min-width: 891px) and (max-width: 1024px)/*al di sopra dei 891 pixel e sotto i 1024 pixel*/
{
    .corsi div
    {
        height: 120px;
        width: 180px;
    }

    #contenitoreCategorie
    {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 500px) and (max-width: 891px)/*al di sopra dei 500 pixel e sotto i 891 pixel*/
{
    .corsi div
    {
        height: 100px;
        width: 160px;
    }
    
    #contenitoreCategorie
    {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 360px) and (max-width: 500px) /*al di sopra dei 360 pixel e al di sotto dei 500 pixel*/
{
    .corsi div
    {
      height: 80px;
      width: 140px;
    }
  
    #contenitoreCategorie
    {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}