<div class="profiloDiv">
  <h1>Profilo Utente</h1>
</div>

<div class="dueDiv">
  <div class="leftDiv">
    <div class="fotoDiv">
      <img
        class="fotoProfilo"
        [src]="user?.profileImageUrl || (user?.gender === 'Maschile' 
        ? '../../../assets/images/profile-pic-man.jpg' 
        : '../../../assets/images/profile-pic-woman.png')"
        alt="Foto Profilo"
        width="70"
        height="70"
      />
      <h3>{{ user?.name }} {{ user?.surname }}</h3>
    </div>

    <!-- Menu a discesa per mobile -->
    <div class="mobile-menu">
      <select id="menuSelect" (change)="handleMenuChange($event)">
        <option value="/datiAnagrafici">Dati Anagrafici</option>
        <option value="/datiUtente">Dati Utente</option>
        <option value="/corsiIscritti">Corsi Iscritti</option>
        <option value="/certificati">Certificati</option>
        <option value="/fotoProfilo">Foto Profilo</option>
        <option value="/cancellaAccount">Cancella Account</option>
        <option value="/login">Logout</option>
      </select>
    </div>

    <div class="divOpzione">
      <ul>
        <li><a href="/datiAnagrafici">Dati Anagrafici</a></li>
        <li><a href="/datiUtente">Dati Utente</a></li>
        <li><a href="/corsiIscritti">Corsi Iscritti</a></li>
        <li><a href="/certificati">Certificati</a></li>
        <li><a href="/fotoProfilo">Foto Profilo</a></li>
        <li><a href="/cancellaAccount">Cancella Account</a></li>
        <li><a href="/login">Logout</a></li>
      </ul>
    </div>
  </div>

  <div class="rightDiv">
    <div class="inpDiv">
      <form class="form">
        <div class="form-row">
          <div class="form-group">
            <label for="nome">Nome</label>
            <h6>{{ user?.name }}</h6>
          </div>
          <div class="form-group">
            <label for="">Cognome</label>
            <h6>{{ user?.surname }}</h6>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label for="">Codice Fiscale</label>
            <h6>{{ user?.fiscalCode }}</h6>
          </div>
          <div class="form-group">
            <label for="">Genere</label>
            <h6>{{ user?.gender }}</h6>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label for="">Data di Nascita</label>
            <h6>{{ user?.birthDate | date: 'dd/MM/yyyy' }}</h6>
          </div>
          <div class="form-group">
            <label for="">Luogo di nascita</label>
            <h6>{{ user?.placeOfBirth }}</h6>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label for="">Indirizzo di Residenza</label>
            <h6>{{ user?.residentialAddress }}</h6>
          </div>
          <div class="form-group">
            <label for="">Indirizzo di Domicilio</label>
            <h6>{{ user?.homeAddress }}</h6>
          </div>
        </div>
      </form>
      <div>
        <a href="/modulodati">
          <button class="btnDati">Reimposta dati anagrafici</button>
        </a>
      </div>
    </div>
    <br />
  </div>
</div>
