<app-header></app-header>

<div id="contenitore">
    <h1>Il nostro obiettivo</h1>
    <div id="obiettivo">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>

    <h1>Il nostro team</h1>
    <div id="team">
        <div class="contenitoreMembro"><div class="membro"><i class="fa-solid fa-user fa-8x"></i></div><p>Membro 1</p></div>
        <div class="contenitoreMembro"><div class="membro"><i class="fa-solid fa-user fa-8x"></i></div><p>Membro 2</p></div>
        <div class="contenitoreMembro"><div class="membro"><i class="fa-solid fa-user fa-8x"></i></div><p>Membro 3</p></div>
        <div class="contenitoreMembro"><div class="membro"><i class="fa-solid fa-user fa-8x"></i></div><p>Membro 4</p></div>
        <div class="contenitoreMembro"><div class="membro"><i class="fa-solid fa-user fa-8x"></i></div><p>Membro 5</p></div>
    </div>
</div>

<app-footer></app-footer>